<div class="w-full px-4 pt-8 flex justify-end gap-4">
    {% if prev_tab %}
    <a href="{% url 'navigate_production_environment' production.id prev_tab %}"
        class="px-6 py-2 bg-white text-gray-800 rounded-lg">Back</a>
    {% endif %}
    {% if next_tab %}
    <a href="{% url 'navigate_production_environment' production.id next_tab %}"
        class="px-6 py-2 bg-[var(--highlight)] text-white rounded-lg">Next</a>
    {% else %}
    {% if not production.is_completed %}
    <a href="{% url 'finish_production' production.id %}"
        class="px-6 py-2 bg-[var(--highlight)] text-white rounded-lg">Finish</a>
    {% endif %}
    {% endif %}
</div>