<div class="fixed bottom-0 pb-3 px-2 w-full lg:hidden nav-wrapper">
    <nav class="w-full max-w-sm mx-auto bg-gray-300/50 backdrop-blur-md rounded-2xl p-0">
        <ul class="flex">
            <li class="flex-1">
                <a href="{% url 'dashboard' %}"
                    class="nav-link grid place-items-center w-full py-4 rounded-lg bg-green-500/30 text-green-700">
                    <iconify-icon icon="carbon:dashboard" width="24" height="24" class="w-fit"></iconify-icon>
                </a>
            </li>
            <li class="flex-1">
                <a href="{% url 'classifications' %}"
                    class="nav-link grid place-items-center w-full py-4 rounded-lg text-gray-700">
                    <iconify-icon icon="carbon:classification" width="24" height="24" class="w-fit"></iconify-icon>
                </a>
            </li>
            <li class="flex-1">
                <a href="/dsihdlsdlsjdl/" class="nav-link grid place-items-center w-full py-4 rounded-lg text-gray-700">
                    <iconify-icon icon="lineicons:gears-3" width="24" height="24" class="w-fit"></iconify-icon>
                </a>
            </li>
            <li class="flex-1">
                <a href="/slxnlsxn/" class="nav-link grid place-items-center w-full py-4 rounded-lg text-gray-700">
                    <iconify-icon icon="ic:outline-inventory" width="24" height="24" class="w-fit"></iconify-icon>
                </a>
            </li>
            <li class="flex-1">
                <a href="/da;cnd;ak/" class="nav-link grid place-items-center w-full py-4 rounded-lg text-gray-700">
                    <iconify-icon icon="mdi:people-outline" width="24" height="24" class="w-fit"></iconify-icon>
                </a>
            </li>
        </ul>
    </nav>
</div>