<nav class="w-1/5 sticky top-0 h-screen bg-gray-100 max-lg:hidden py-5 px-3">
    <div class="w-full text-center">
        <div class="w-full scale-[0.7]">
            {% include 'components/logo.html' %}
        </div>
        <h3>ColourPost</h3>
    </div>

    <ul class="py-8 space-y-2">
        <li>
            <a href="{% url 'dashboard' %}"
                class="nav-link w-full p-3 flex space-x-3 rounded-lg bg-green-500/30 text-green-700">
                <iconify-icon icon="carbon:dashboard" width="24" height="24"></iconify-icon>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'classifications' %}" class="nav-link w-full p-3 flex space-x-3 rounded-lg text-gray-700">
                <iconify-icon icon="carbon:classification" width="24" height="24"></iconify-icon>
                <span>Classifications</span>
            </a>
        </li>
        <li>
            <a href="/ajcldac/" class="nav-link w-full p-3 flex space-x-3 rounded-lg text-gray-700">
                <iconify-icon icon="lineicons:gears-3" width="24" height="24"></iconify-icon>
                <span>Production</span>
            </a>
        </li>
        <li>
            <a href="{% url 'inventory' %}" class="nav-link w-full p-3 flex space-x-3 rounded-lg text-gray-700">
                <iconify-icon icon="ic:outline-inventory" width="24" height="24"></iconify-icon>
                <span>Store</span>
            </a>
        </li>
        <li>
            <a href="/ladcjnl/" class="nav-link w-full p-3 flex space-x-3 rounded-lg text-gray-700">
                <iconify-icon icon="mdi:people-outline" width="24" height="24"></iconify-icon>
                <span>People</span>
            </a>
        </li>
    </ul>
</nav>