{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block main %}
{% include './components/header.html' %}

<div class="w-full bg-[#DDD] pt-12">
    <div class="w-full flex flex-col gap-24 bg-white">
        {% include './components/home/banner.html' %}
        {% include './components/home/about.html' %}
        {% include './components/home/key_features.html' %}
        {% include './components/home/how_it_works.html' %}
        {% include './components/home/testimonials.html' %}
        {% include './components/home/call_to_action.html' %}
    </div>

</div>
{% endblock main %}