{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block main %}
<header class="fixed top-0 z-10 w-screen backdrop-blur-lg bg-white/70 py-6 px-8">
    <div class="w-full flex">
        <div class="w-fit logo flex items-center gap-4 text-3xl">
            {% include 'components/logo.html' %}
            <h3>ColourPost</h3>
        </div>
    </div>
</header>

<div class="w-full bg-[#DDD] pt-12">
    {% include './components/banner.html' %}

    <div class="w-full">

    </div>

</div>
{% endblock main %}