{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block main %}
<div class="w-screen h-screen bg-white grid place-items-center">
    <div class="w-full max-w-md rounded-xl bg-white py-8 px-6 relative">
        <div class="absolute top-3 right-3">
            <a href="{% url 'home' %}">
                <iconify-icon icon="material-symbols-light:close" width="32" height="32"></iconify-icon>
            </a>
        </div>
        <div class="w-full mb-4">
            {% include 'components/logo.html' %}
        </div>

        <form action="" method="post" class="mt-6">
            {% csrf_token %}
            <input type="text" name="username" id="username" value="{{username}}"
                class="w-full py-3 px-4 bg-gray-100 rounded-t-xl border border-b-none" placeholder="Username:" required>
            <input type="password" name="password" id="password"
                class="w-full py-3 px-4 bg-gray-100 rounded-b-xl border" placeholder="Password:" required>
            <div class="w-full text-center mt-8 px-6">
                <button type="submit" class="w-full py-3 text-white bg-[var(--highlight)] rounded-xl">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock main %}