<section class="px-12 bg-white">
    <div class="w-full max-w-7xl mx-auto">
        <h3 class="text-2xl text-center">Key Features</h3>
        <div class="w-full max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-8">
            <div class="w-full rounded-xl bg-gray-100 p-4 flex flex-col gap-1 items-center text-center">
                <div class="w-full mb-3">
                    <iconify-icon icon="fluent:production-checkmark-24-regular" width="50" height="50"
                        style="color: #334c42"></iconify-icon>
                </div>
                <legend class="font-medium text-lg">Smart Production<br>Tracking</legend>
                <p class="text-gray-600 text-sm">
                    Issue raw materials and calculate costs with ease.
                </p>
            </div>

            <div class="w-full rounded-xl bg-gray-100 p-4 flex flex-col gap-1 items-center text-center">
                <div class="w-full mb-3">
                    <iconify-icon icon="si:inventory-fill" width="50" height="50" style="color: #334c42"></iconify-icon>
                </div>
                <legend class="font-medium text-lg">Integrated Inventory<br>Management</legend>
                <p class="text-gray-600 text-sm">
                    Monitor stock, pricing, and availability in real-time.
                </p>
            </div>

            <div class="w-full rounded-xl bg-gray-100 p-4 flex flex-col gap-1 items-center text-center">
                <div class="w-full mb-3">
                    <iconify-icon icon="material-symbols:finance-mode-rounded" width="50" height="50"
                        style="color: #334c42"></iconify-icon>
                </div>
                <legend class="font-medium text-lg">Financial Clarity</legend>
                <p class="text-gray-600 text-sm">
                    Track payments, match revenue to costs, and monitor expenses effortlessly.
                </p>
            </div>
        </div>
    </div>
</section>