:root {
    --highlight: #183b7c;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif !important;
    color: #252525 !important;
    font-weight: bold !important;
}

main,
.w-screen {
    width: 100vw !important;
    width: 100dvw !important;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.floating {
    animation: float 5s ease-in-out infinite;
}