{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="w-full flex">
    {% include './components/large_screen_nav.html' %}

    <div class="w-full lg:w-4/5 min-h-[100vh] pb-[12vh]">
        {% include './components/dashboard_header.html' %}
        <div class="w-full px-4">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</div>
{% include './components/floating_bottom_nav.html' %}
{% endblock main %}

{% block scripts %}
<script src="{% static 'js/nav-utils/active-link.js' %}"></script>
{% endblock scripts %}