{% extends 'manufacturer_site/dashboard_layout.html' %}

{% block title %}
Packaging
{% endblock title %}

{% block content %}
{% include './components/classification_nav.html' %}

<div class="w-full px-2 md:px-4 py-4">
    <div class="w-full flex items-center mb-4">
        <div class="flex-1">
            <h5 class="text-md">Product Packaging</h5>
        </div>
        <a href="{% url 'add_package' %}"
            class="bg-[var(--highlight)] text-white px-3 py-2 rounded-lg flex gap-2 w-fit items-center">
            <iconify-icon icon="basil:add-solid" width="24" height="24"></iconify-icon>
            <span>Create</span>
        </a>
    </div>
    <table class="w-full table-auto rounded-xl overflow-hidden">
        <thead>
            <tr class="border-b border-b-black/40">
                <th class="py-2 px-2 font-normal text-start bg-gray-100 w-[50px]">SN</th>
                <th class="py-2 px-2 font-normal text-start bg-gray-100">Alias</th>
                <th class="py-2 px-2 font-normal text-start bg-gray-100">Volume</th>
                <th class="py-2 px-2 font-normal text-start bg-gray-100">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
            <tr class="border-b border-b-black/20">
                <td class="py-2 px-2 font-normal text-start w-[50px]">
                    {{forloop.counter}}
                </td>
                <td class="py-2 px-2 font-normal text-start">
                    {{package.alias}}
                </td>
                <td class="py-2 px-2 font-normal text-start">
                    {{package.volume}} lts
                </td>
                <td class="py-2 px-2 font-normal text-start">
                    <button onclick="deletePackage('{{package.id}}', '{{package.alias}}')"
                        class="w-fit flex items-center gap-2 rounded-full px-2 aspect-square bg-white shadow-md border text-red-700">
                        <iconify-icon icon="mingcute:delete-line" width="20" height="20"></iconify-icon>
                    </button>
                </td>
            </tr>
            {% endfor %}
            {% if not packages %}
            <tr class="border border-dashed border-black/20">
                <td colspan="3" class="py-12 text-center text-gray-600">
                    <iconify-icon icon="stash:subscription-list" width="32" height="32" class="mx-auto"></iconify-icon>
                    <br>
                    No Package Types added
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<script>
    function deletePackage(id, packageAlias) {
        if (confirm(`Are you sure you want to delete ${packageAlias}?\nAll records related to this item will be deleted`)) {
            window.location.replace(`{% url 'delete_package' %}?id=${id}`)
        }
    }
</script>
{% endblock content %}